# Python virtual environments
.venv/
venv/
ENV/
.env
env/

# Python caching
**/__pycache__/
*.py[cod]
*$py.class

# Project specific data and models (as per your layout)
models/
datasets/


# Local configuration overrides
.env
.vscode/

# OS specific files
.DS_Store
Thumbs.db
